body{
    background-color: #505050 !important;
    color: white !important;
}
a,a:visited{
    color: white !important;
}
table{
    background-color: white !important;
    color: #505050 !important;
}
#tema{
    color: #505050 !important;
}

